	
body
{
	background-color: white;/*#f2f2f2;*/
	color: black;
	/* font-size: 22px; */
	font-family: 'Raleway', sans-serif;
	margin: 0px;
}

header > .container-fluid
{
	background-color: #f2f2f2;
	color: #e67817;
}

.logo_empty
{
	/* width:50%; */
	height:320px;
}

.box_for_wheels
{
	position: absolute;
	width: 100%;
	height: 20vw;
	overflow: hidden
}

.ellipse1, .ellipse2, .ellipse3, .ellipse4, .ellipse5, .ellipse6, .ellipse7, .ellipse8, .ellipse9{
	position: absolute;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ellipse1{
	width: 14vw;
	height: 14vw;
	background: #C4C4C4;
	border-radius: 50%;
	left: 92vw;
	top: -4.5vw;

}

.ellipse2{
	width: 11vw;
	height: 11vw;
	background: rgba(196, 196, 196, 0.9);;
	border-radius: 50%;
	left: 84vw;
	top: 6.5vw;
}

.ellipse3{
	width: 10vw;
	height: 10vw;
	background:rgba(196, 196, 196, 0.8);;
	border-radius: 50%;
	left: 76vw;
	top: -6vw;
}

.ellipse4{
	width: 8vw;
	height: 8vw;
	background: rgba(196, 196, 196, 0.7);;
	border-radius: 50%;
	left: 73vw;
	top: 4.4vw;
}

.ellipse5{
	width: 5vw;
	height: 5vw;
	background: rgba(196, 196, 196, 0.6);;
	border-radius: 50%;
	left: 62.5vw;
	top: 9.4vw;
}

.ellipse6{
	width: 5vw;
	height: 5vw;
	background: rgba(196, 196, 196, 0.5);;
	border-radius: 50%;
	left: 65vw;
	top: 1.4vw;
}

.ellipse7{
	width: 3vw;
	height: 3vw;
	background: rgba(196, 196, 196, 0.4);
	border-radius: 50%;
	left: 57vw;
	top: 5.4vw;
}

.ellipse8{
	width: 5vw;
	height: 5vw;
	background: rgba(196, 196, 196, 0.3);
	border-radius: 50%;
	left: 48vw;
	top: 1.4vw;
}

.ellipse9{
	width: 2vw;
	height: 2vw;
	background: rgba(196, 196, 196, 0.2);
	border-radius: 50%;
	left: 45vw;
	top: 8vw;
}

/* .rotate
{
	transform: rotate(90deg);
}
@media (min-width: 992px)
{
	.rotate
	{
		transform: rotate(0deg);
	}
} */


/* .logo{
	margin-left: 20px;
	margin-top: 20px;
	display: inline-block;
} */

/* .logo_words{
	margin-top: 20px;
	display: inline-block;
	animation-name: logo;
	animation-timing-function: ease;
	animation-duration: 1s;
	animation-fill-mode: both;
	z-index: 2;
} */

/* .logo_w
{
	position: relative;
	display: block;
	z-index: 5;
} */


.logo, .trzeb_mobile, .wro_mobile{
	font-family: 'Aharoni', sans-serif ;
}

.wro {
	position: relative;
	/* left: 22%;	
	top: 30%; */
	/* transform: translate(-50%, -50%); */
	display: flex;
	/* margin-top: 15px; */
	align-items: center;
    justify-content: center;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
	color: #e67817;
	font-size: 2.5vw;
	letter-spacing: 13px;
  }
  .wro .letter {
	transform: scale(0);
	animation: pop-up 0.25s forwards;
  }
  .wro .letter:nth-child(1) {
	animation-delay: 0.05s;
  }
  .wro .letter:nth-child(2) {
	animation-delay: 0.1s;
  }
  .wro .letter:nth-child(3) {
	animation-delay: 0.15s;
  }
  .wro .letter:nth-child(4) {
	animation-delay: 0.2s;
  }
  .wro .letter:nth-child(5) {
	animation-delay: 0.25s;
  }
  .wro .letter:nth-child(6) {
	animation-delay: 0.3s;
  }
  .wro .letter:nth-child(7) {
	animation-delay: 0.35s;
  }

.trzeb{
	font-size: 3.5vw !important;
	letter-spacing: 2px;
}

  /* .trzeb {
	/* position: relative; */
	/* transform: rotate(90deg); */
	/* top: 21%;
	left: 30%; */
	/* transform: translate(-37%, 40%); */
	/* align-items: center;
    justify-content: center; */
	/* margin: 0;
	padding: 0; */
	/* box-siziang: border-box; */
	/* font-style: normal; */
	/*
	font-weight: 800;
	color: #e67817;
	font-size: 2.5em;
	letter-spacing: 10px;
  } */

  .trzeb_mobile
  {
	  transform: translateX(-2vw);
	  font-size: 8vw;
	  letter-spacing: 10px;
  }
  
  .wro_mobile
  {
	  font-size: 6vw;
  }

  .margin-wro
  {
	margin-top: 11%;
	  /* margin-top: 120px; */
  }

  @media (min-width: 992px) 

  	{
		.wro,.trzeb 
		{
			align-items: flex-start;
			justify-content: flex-start;	
			text-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
		}
		/* .wro
		/* {
			 margin-top: 70px; 
		} */ 
		.trzeb
		{
			/* transform: rotate(0); */
			font-size: 3.3em;
		}
	}

	/* @media (min-width: 500px)
	{
		.logo_w
		{
			font-size: 1.2em;
		}
	} */
  .trzeb .letter {
	transform: scale(0) rotate(90deg) ;
	animation: pop-up 0.25s forwards;
  }
  .trzeb .letter:nth-child(1) {
	animation-delay: 0.55s;
  }
  .trzeb .letter:nth-child(2) {
	animation-delay: 0.6s;
  }
  .trzeb .letter:nth-child(3) {
	animation-delay: 0.65s;
  }
  .trzeb .letter:nth-child(4) {
	animation-delay: 0.7s;
  }
  .trzeb .letter:nth-child(5) {
	animation-delay: 0.75s;
  }
  .trzeb .letter:nth-child(6) {
	animation-delay: 0.8s;
  }
  .trzeb .letter:nth-child(7) {
	animation-delay: 0.85s;
  }
  .trzeb .letter:nth-child(8) {
	animation-delay: 0.9s;
  }
  .trzeb .letter:nth-child(9) {
	animation-delay: 0.95s;
  }
  .trzeb .letter:nth-child(10) {
	animation-delay: 1s;
  }
  @keyframes pop-up {
	0% {
	  transform: scale(0) translateY(-10px);
	  opacity: 0;
	}
	80% {
	  transform: scale(1.2) translateY(-2px);
	  opacity: 0.6;
	}
	100% {
	  transform: scale(1) translateY(0px);
	  opacity: 1;
	}
  }




							  /* trzebnicka na telefonie  */
		
		.trzeb_mobile .letter_mobile {
			transform: scale(0) ;
			animation: pop-up1 0.25s forwards;
		}
		.trzeb_mobile .letter_mobile:nth-child(1) {
			animation-delay: 0.55s;
		}
		.trzeb_mobile .letter_mobile:nth-child(2) {
			animation-delay: 0.6s;
		}
		.trzeb_mobile .letter_mobile:nth-child(3) {
			animation-delay: 0.65s;
		}
		.trzeb_mobile .letter_mobile:nth-child(4) {
			animation-delay: 0.7s;
		}
		.trzeb_mobile .letter_mobile:nth-child(5) {
			animation-delay: 0.75s;
		}
		.trzeb_mobile .letter_mobile:nth-child(6) {
			animation-delay: 0.8s;
		}
		.trzeb_mobile .letter_mobile:nth-child(7) {
			animation-delay: 0.85s;
		}
		.trzeb_mobile .letter_mobile:nth-child(8) {
			animation-delay: 0.9s;
		}
		.trzeb_mobile .letter_mobile:nth-child(9) {
			animation-delay: 0.95s;
		}
		.trzeb_mobile .letter_mobile:nth-child(10) {
			animation-delay: 1s;
		}
		@keyframes pop-up1 {
			0% {
			transform: scale(0) translateY(-10px) rotate(90deg);
			opacity: 0;
			}
			80% {
			transform: scale(1.2) translateY(-2px) rotate(90deg);
			opacity: 0.6;
			}
			100% {
			transform: scale(1) translateY(0px) rotate(90deg);
			opacity: 1;
			}
		}

  
.fas
{
	padding: 10px;
}
  
.phoneNumber
{
	/* left:380px; */
	font-size: 8vw;
	/* z-index: 2;
	margin: 50px 0; */
	text-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
}


.emailheader{
	font-size: 5vw;
	text-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
}


.phoneNumber a:link, .emailheader a:link
{
	color: #e67817;
	text-decoration: none;
}

 @media (min-width: 992px) { 
	.phoneNumber{
		margin-top: 0.5vw;
		font-size: 2.2vw;
		letter-spacing: 5px;
	}
	
	.emailheader{
		font-size: 1.4vw;
		margin-top: 1.1vw;
	}
} 


/* .phoneNumber > a
{
	color: #e67817;
}

.phoneNumber > a:hover
{
	font-weight: 900;
} */


/* .baner{
	position: relative;
	z-index: 1;
	display: none;
}

@media (min-width: 768px) 
{
	.baner
	{
		display: block
	}

	.phoneNumber
	{
		margin: 2px;
	}
} */


/*
#logo
{
	/*display: inline-block;*
	margin-top: 50px;
	margin-bottom:0px;
	margin-left: 220px;
	min-width: 600px;
	font-size: 10px;
	animation-name: logo;
	animation-timing-function: ease;
	animation-duration: 1s;
	position: static;
	animation-fill-mode: both;
}


h2.logo2
{
	display: inline-block;
	font-size:28px;
	padding: 0px;
	margin: 0px;
	font-weight: 700;
	animation-name: logo2;
	animation-timing-function: ease;
	animation-duration: 1s;
	position: relative;
	animation-fill-mode: both;

}
@keyframes logo
{
	from	{left: 0px; font-size: 14px; letter-spacing: 0px;}
	to 		{left: 50px;font-size: 35px; letter-spacing: 10px;}
}

@keyframes logo2
{
	from	{left: 0px; font-size: 28px; letter-spacing: 0px;}
	to 		{left: 2px;font-size: 70px; letter-spacing: 10px;}
}

#baner
{
/*	display: inline-block;
	position: absolute; *
	right: 50px;
	bottom:0;
}
*/
.bg-figura
{
	/* background-color: #CC3300; */

	background: -moz-linear-gradient(top, rgba(204,51,0,1) 0%, rgba(205,52,0,1) 2%, rgba(255,103,15,0.8) 100%);
	background: -webkit-linear-gradient(top, rgba(204,51,0,1) 0%,rgba(205,52,0,1) 2%,rgba(255,103,15,0.8) 100%);
	background: linear-gradient(to bottom, rgba(204,51,0,1) 0%,rgba(205,52,0,1) 2%,rgba(255,103,15,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3300', endColorstr='#ccff670f',GradientType=0 );

	

}
#h_stick
{
	/* background-color: #CC3300; */
	font-size: 16px;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
	z-index:120;
}

.navbar, .navbar-expand-xl
{
	padding: 0px 16px;
}
.navbar::before
{
	opacity: 0.6;
	background-color: red !important;
	z-index:150;
}

.navbar-brand
{	
	padding: 5px 0px;
}


ul > li a
{
	text-decoration: none;
	display: block;
	/* margin: 0px 10px 0px 0px; */
	margin-right: 5px;
	border-radius: 10px;
}

ul > li a:hover
{
	/* background-color: #ffd4af; */
	color: white !important;
	transition-duration: 0.6s;
	border-bottom: 1px solid oldlace;
	padding-bottom: 4px;
	/* padding: 1px; */
}

	.dropdown-item:hover
{
		background-color: #CC3300;
		color: white !important;
		border-radius: 2px;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.52);
}

.content
{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.font_size_p
{
	font-size: 16px;
}

footer
{
	background-color: #f2f2f2;
	/* height: 100px; */
	/* width: 100%; */
}
.socials
{
	margin-left: auto;
	margin-right: auto;
	/* width: 700px; */
	display: flex;
}

a
{
	/* background-color: red; */
	text-decoration: none !important;
	color: black;
}
.facebook, .instagram
{
	width: 300px;
	height: 100px;
	margin: 0px;
	display: inline-block;
	text-align: center;
}
.facebook:hover
{
	background-color: #4668b3;
	color: white;
}
.instagram:hover
{
	background-color:#f09433;
	background: #f09433;
	color: white;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.scrollup
{
	width: 50px;
	height: 100px;
	text-decoration: none;
	position: fixed;
	left: 15px;
	bottom: 100px;
	z-index: 1000;

}

.fb, .inst
{
	padding: 5px;
	text-align: center;
	width:45px;
	height: 45px;
	opacity: 0.3;
	border-radius: 35px;
	transition-duration: 0.3s;
}

.fb:hover
{
	opacity:1;
	background-color: #4668b3;
	color: white;
	margin-left: 10px;

}

.inst:hover
{
	opacity:1;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
	color: white;
	margin-left: 10px;
}

.copy
{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;

	font-size: 18px;
}


@media 	(min-width: 992px)
{
	.carousel-control-prev,.carousel-control-next
	{
		background-color: gray;
		opacity: 0.03;
		width: 160px;
	}
	.carousel-control-prev
	{
		border-bottom-right-radius: 200px;
		
	}

	.carousel-control-next
	{
		
		border-top-left-radius: 200px;
	}

	.carousel-control-prev:hover, .carousel-control-next:hover
	{
		opacity: 0.2;
	}
	.carousel-control-prev:focus, .carousel-control-next:focus
	{
		display: none;
	}
}


.carousel-indicators >li
{
	background-color: orange;
	opacity: 0.4;
}


.carousel-caption
{
	color: #e67817;
}

.carousel-caption h2
{
	font-weight: 900;
}

/* STACJE ZABIEGOWE */

/* .b_radius
{
	border-radius: 170px;
} */

.photo
{
	position: relative;
	overflow: hidden;
	border-radius: 170px;
}

.photo img, .photo
{
	opacity: 0.8;
	transition: all 0.7s ease-in-out;
}

.photo:hover
{
	border-radius: 80px;
}
.photo:hover img
{
	opacity: 1;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.photo .link
{
	width: 100%;
	position: absolute;
	left:0;
	top:45%;
	color: white;
	z-index: 2000;
	display: block;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.photo:hover .link
{
	opacity: 1;
}
.photo p
{
	background-color: #ff670fcc; 
	padding: 20px 0;
	margin-top: 10px;
	font-size: 24px;
	text-align: center;
}


/* Fitness&Wellnes */


.SF_color
{
	color: #e67817;
}

.device
{
	width: 300px;
	height: auto;
}
.single_device
{
	cursor: pointer;
	padding: 20px;
	margin: 80px 0;
	height: 100%;
}


.single_device:hover
{
	background-color: #f5f5f5;
}

.device_link:hover
{
	color: black;
}


/* MODAL */
#mySidenav p 
{
	color: #000000;
	position: absolute; /* Position them relative to the browser window */
	left: 0px; /* Position them outside of the screen */
	transition: 0.3s; /* Add transition on hover */
	padding: 15px; /* 15px padding */
	width: 120px; /* Set a specific width */
	font-size: 20px; /* Increase font size */
	border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
	z-index: 20;
  }

#mySidenav ul
{
	/* display: none; */
	opacity:0;
	transition: 0.15s;
	padding-top: 40px;
	position: absolute;
	background-color: #00000051;
	color: #ffffff;
	left: 0px;
	width: 350px;
	border-radius: 0 5px 5px 0;
	z-index: 10;
}
#result-description
{
	top: 20px;
}

#benefits-description
{
	top: 80px;
}

#mySidenav ul li:first-child
{
	padding-top: 50px;
}
#mySidenav ul li
{
	padding: 20px 0px;
}

#mySidenav p:hover
{
	width: 450px;
	/* opacity: 0.4; */
}

.result 
{
	top: 20px;
	background-color: #e67817;
}

.result:hover + .benefits
{
	left: -120px !important;
	opacity: 0;
}

.result:hover ~ #result-description
{
	width: 450px;
	transition-delay: 0.2s;
	opacity: 1;
}

.benefits 
{
	top: 80px;
	background-color: #F39C12; /* Blue */
}

.benefits:hover ~ #benefits-description
{
	width: 450px;
	transition-delay: 0.2s;
	opacity: 1;
}

				/* kontakt  */
.sentence{
	margin-top: 0.7em;
	font-family: 'Italianno', cursive;
	font-size: 80px;
	transform: rotate(12deg);
}


.mapa{
	width:60%;
}
.logo-page-contact, .logo-page-price{
	background-image: URL(pictures/contact.jpg);
	background-position:60% 95% ;
	background-attachment: fixed;
	background-size: 250%;
	width: 100%;
	height: 100px;
	overflow: auto;
}

				/* cennik */
.logo-page-price{
	background-image: URL(pictures/cennik.jpg);
}

.logo-page-price h1, .logo-page-contact h1{
	font-size: 50px;
	letter-spacing: 0.6em;
	color: #E67817;
	transform: translateY(15px);
}

.gallery_swipe{
	/* display: inline-block; */
	overflow: hidden;
}

.gallery_swipe img{
	transition: transform linear .3s;
}

.gallery_swipe .slick-center {
	transform: scale(1.4);
}

.gallery_swipe .slick-slide{
	border-style: none;
}
.slick-track{
	padding: 20px;
}
.slick-track .img{
	margin: 30px;
}


/* .gallery_swipe img{
	margin: 0 20px;
} */

@media (min-width: 992px) 
{

	.logo-page-contact, .logo-page-price{
		background-image: URL(pictures/contact.jpg);
		background-position:60% 95% ;
		background-size: 100%;
		background-attachment: fixed;
		width: 100%;
		height: 200px;
		overflow: auto;
	}
	.logo-page-price{
		background-image: URL(pictures/cennik.jpg);
	}

	.logo-page-price h1, .logo-page-contact h1{
		font-size: 144px;
		letter-spacing: 0.5em;
		color: #E67817;
	}

}

.tab_h1{
	color: #E67817;
	font-size: 25px;
}

